root { 
    display: block;
}

body {
    margin:0px;
	padding:0px;
    text-align:center;
	background-color: #626262;
	font-family: Verdana,Arial,sans-serif;
	color: #2a2a2a;
}
#main {
	padding-top:50px;
}
#menu {
	width:100%;
	background-color: #F3F3F3;
	color: #333;
	padding:5px;
	border-bottom: #000 solid 1px;
	position:fixed;
}

#content {
    margin:0px auto;
    text-align:left;
	width: 85%;
}

#gameTime {
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.enName {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #660000;
}

.npcName {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #024435;
}

.charInfo {
    border:1px solid #333;
    background-color:#eee;
    padding:15px;
    margin:0px auto;
    margin-bottom:15px;
	border-radius: 15px;
}

.charName {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #024435;
}

.charType {
	font-family: Verdana,Arial,sans-serif;
	font-size: 16px;
	color: #207a7a;
}

.charHP {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 22px;
}

.charLevel {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
	color: #FF8C00;
}

.charExpToLevel {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	color:#218036;
}

.charWeight {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	color:#1E90FF;
}

.statHeading {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: #002c31;
}

.itemQty {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
}

.itemName {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.itemWeight {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.itemDesc {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
}

.linkBtn {
	text-decoration: underline;
	cursor: pointer;
	font-family: Verdana,Arial,sans-serif;
	text-decoration: none;
	color: #2a2a2a;
}

.linkBtn:hover {
	text-decoration: underline;
	cursor: pointer;
}

.dailyName {
	font-family: Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	color:#FFF;
}

.dailyClass {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
	color:#FFF;
	float: right;
	display:inline-block;
	line-height:20px;
}

.dailyDesc {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
	display:inline-block;
	line-height:10px;
}

.dailyFreq {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.dailyPower {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
}