root { 
    display: block;
}

body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
	background-color:#d1e6fd;
}

.errMsg {
	color:#FF0000;
	font-weight: bold;
}

label {
	font-weight: bold;
}

th {
	background-color: #262626;
	color: #d1e6fd;
}
